<button mat-icon-button [matMenuTriggerFor]="menu" class="task-menu-button" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Snooze</span>
  </button>

  <button mat-menu-item (click)="this.taskDeleted.emit()">
    <mat-icon>notifications_off</mat-icon>
    <span>Delete</span>
  </button>

  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Mark as done</span>
  </button>
</mat-menu>
