<main>
  <h1 class="margin-0-auto">
    <button mat-flat-button (click)="changeDateBackward()">&lt;&lt;</button>
    {{ DayOfWeek(todayDate()) }}, {{ todayDate() }}
    <button mat-flat-button (click)="changeDateForward()">&gt;&gt;</button>
  </h1>

  <div>
    Task list: {{ taskList() | json }}
  </div>

  <div>
    Edited entry: {{ editedEntry() | json }}
  </div>

  <div>
    Edited title: {{ editedTitle() | json }}
  </div>

  <div>
    @for (task of taskList(); track task.id) {
      <div>
        {{ task.id }}
      </div>

      <mat-card appearance="outlined" class="task-card">
        <mat-card-header class="flex-row">
          <mat-card-title-group>
            @if (editedEntry()?.entryId == task.id && editedEntry()?.entryType == "title") {
              <mat-card-title>
                <mat-form-field class="example-form-field">
                  <mat-label>Clearable input</mat-label>
                  <input matInput type="text" [(ngModel)]="editedTitle" (blur)="updateTitle()" autofocus>
                  @if (editedTitle()) {
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="editedTitle.set('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  }
                </mat-form-field>
              </mat-card-title>
            } @else {
              <mat-card-title (click)="setTitleEdited(task)">
                {{ task.title }}
              </mat-card-title>
            }

            <app-taskmenu></app-taskmenu>
          </mat-card-title-group>
        </mat-card-header>

        <mat-card-content>
          <div>
            <div>Update</div>
          </div>

        </mat-card-content>
      </mat-card>
    }

    <button mat-flat-button>Add task</button>
    <button mat-flat-button>Add note</button>
  </div>
</main>
