<app-nav-toolbar></app-nav-toolbar>

<div class="wrapper">

  <h1 class="task-list-title">
    <button mat-icon-button (click)="dateBackward()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    {{ currentDateString() }}
    <button mat-icon-button (click)="dateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </h1>

  <h2>Finished this week</h2>

  @for (finishedEntry of summary().tasksFinishedThisWeek; track $index) {
    <h3>{{ finishedEntry.date }}</h3>

    <mat-accordion multi>
      @for (task of finishedEntry.updates; track task.taskEntry.taskID) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <span class="header" [matTooltip]="task.taskEntry.title">Task: {{ task.taskEntry.title }}</span>
          </mat-expansion-panel-header>

          <h3>Description:</h3>

          <div [innerHTML]="task.taskEntry.description | markdown">
          </div>

          <h3>Updates:</h3>

          @for (update of task.updates; track update.date) {
            <div>
              {{ update.date }}
              {{ update.update || "No updates" }}
              @if (!["TaskSnoozed", "TaskCreated"].includes(update.status)) {
                ({{ update.status }})
              }
            </div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
  @if (summary().tasksFinishedThisWeek == null || summary().tasksFinishedThisWeek?.length == 0) {
    <div>Empty</div>
  }

  @let taskChapters = [
    {sectionTitle: "Updated this week", tasks: summary().tasksUpdatedThisWeek},
    {sectionTitle: "Other tasks", tasks: summary().otherTasks},
  ] ;

  @for (chapter of taskChapters; track $index) {
    <h2>{{ chapter.sectionTitle }}</h2>

    <div>
      <mat-accordion multi>
        @for (task of chapter.tasks; track task.taskEntry.taskID) {
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <span class="header" [matTooltip]="task.taskEntry.title">Task: {{ task.taskEntry.title }}</span>
            </mat-expansion-panel-header>

            <h3>Description:</h3>

            <div [innerHTML]="task.taskEntry.description | markdown"></div>

            <h3>Updates:</h3>

            @for (update of task.updates; track update.date) {
              <div>
                {{ update.date }}
                {{ update.update || "No updates" }}
                @if (!["TaskSnoozed", "TaskCreated"].includes(update.status)) {
                  ({{ update.status }})
                }
              </div>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>

      @if (chapter.tasks == null || summary().tasksFinishedThisWeek?.length == 0) {
        <div>Empty</div>
      }
    </div>
  }

  <h2>Notes</h2>

  <div>
    <mat-accordion multi>
      @for (note of summary().notes; track note.id) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <span class="header" [matTooltip]="note.title">{{ note.createdDate }}: {{ note.title }}</span>
          </mat-expansion-panel-header>

          <div>
            Description:

            <div [innerHTML]="note.description | markdown"></div>
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>

    @if (summary().notes == null || summary().notes?.length == 0) {
      <div>Empty</div>
    }
  </div>
</div>
