<app-nav-toolbar></app-nav-toolbar>

<div class="wrapper">

  <h1 class="task-list-title">
    <button mat-icon-button (click)="dateBackward()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    {{ currentDateString() }}
    <button mat-icon-button (click)="dateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </h1>

  <h2>Tasks</h2>

  <div>
    <mat-accordion>
      @for (task of summary().taskSummaries; track task.taskEntry.taskID) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>Task: {{ task.taskEntry.title }}</mat-expansion-panel-header>

          <div>
            Created: {{ task.taskEntry.createdDate }}
          </div>

          <h3>Description:</h3>
          <div>

            <div [innerHTML]="task.taskEntry.description | markdown">
            </div>
          </div>

          <h3>Updates:</h3>

          @for (update of task.updates; track update.date) {
            <div>
              {{ update.date }}
              {{ update.update || "No updates" }}
              @if (!["TaskSnoozed", "TaskCreated"].includes(update.status)) { ({{ update.status }}) }
            </div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>

  <h2>Notes</h2>

  <div>
    <mat-accordion>
      @for (note of summary().notes; track note.id) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>{{ note.createdDate }}: {{note.title }}</mat-expansion-panel-header>

          <div>
            Description:

            <div [innerHTML]="note.description | markdown"></div>
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>

  </div>
</div>
