<app-nav-toolbar></app-nav-toolbar>

<div class="wrapper">

  <h1 class="task-list-title">
    <button mat-icon-button (click)="dateBackward()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    {{ currentDateString() }}
    <button mat-icon-button (click)="dateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </h1>

  <!--  <mat-accordion>-->
  <!--    <mat-expansion-panel hideToggle>-->
  <!--      <mat-expansion-panel-header>-->
  <!--        <mat-panel-title> This is the expansion title </mat-panel-title>-->
  <!--        <mat-panel-description> This is a summary of the content </mat-panel-description>-->
  <!--      </mat-expansion-panel-header>-->
  <!--      <p>This is the primary content of the panel.</p>-->
  <!--    </mat-expansion-panel>-->
  <!--    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">-->
  <!--      <mat-expansion-panel-header>-->
  <!--        <mat-panel-title> Self aware panel </mat-panel-title>-->
  <!--        <mat-panel-description>-->
  <!--          Currently I am {{panelOpenState() ? 'open' : 'closed'}}-->
  <!--        </mat-panel-description>-->
  <!--      </mat-expansion-panel-header>-->
  <!--      <p>I'm visible because I am open</p>-->
  <!--    </mat-expansion-panel>-->
  <!--  </mat-accordion>-->

  <div>
    <mat-accordion>
      @for (task of taskSummaryList(); track task.taskEntry.taskID) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>Task: {{ task.taskEntry.title }}</mat-expansion-panel-header>

          <div>
            Created: {{ task.taskEntry.createdDate }}
          </div>

          <div>
            Description:

            <div [innerHTML]="task.taskEntry.description | markdown">
            </div>
          </div>

          <h3>Updates:</h3>

          @for (update of task.updates; track update.date) {
            <div>{{ update.date }} ({{ update.status }}): {{ update.update }}</div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</div>
