<button mat-icon-button [matMenuTriggerFor]="statusMenu">
  @switch (entry()?.status) {
    @case (EntryStatus.TaskCreated) {
      <mat-icon>check_box_outline_blank</mat-icon>
    }
    @case (EntryStatus.TaskDone) {
      <mat-icon>check_box</mat-icon>
    }
    @case (EntryStatus.TaskSnoozed) {
      <mat-icon [matTooltip]="'(snoozed until ' + entry()?.taskSnoozedUntil  + ')'">arrow_forward_ios</mat-icon>
    }
    @case (EntryStatus.TaskMigrated) {
      <mat-icon [matTooltip]="'(migrated to ' + entry()?.taskSnoozedUntil  + ')'">arrow_back_ios_new</mat-icon>
    }
    @case (EntryStatus.TaskCancelled) {
      <mat-icon>indeterminate_check_box</mat-icon>
    }
    @case (EntryStatus.Note) {
      <mat-icon>remove</mat-icon>
    }
    @default {
      <mat-icon>remove</mat-icon>
    }
  }
</button>

<mat-menu #statusMenu="matMenu">
  @if (entry()?.status == EntryStatus.TaskDone) {
    <button mat-menu-item (click)="markTaskAsCreated()">
      <mat-icon>undo</mat-icon>
      <span>Mark back as created</span>
    </button>
  } @else {
    <button mat-menu-item (click)="markTaskAsDone()">
      <mat-icon>check</mat-icon>
      <span>Mark as done</span>
    </button>
  }

  <button mat-menu-item (click)="snoozeTask()">
    <mat-icon>snooze</mat-icon>
    <span>Snooze</span>
  </button>

  @if (isDayEntry(entry()!)) {
    <button mat-menu-item (click)="migrateToMonthly()">
      <mat-icon>arrow_back_ios_new</mat-icon>
      <span>To monthly log</span>
    </button>
  }

  @if (isMonthEntry(entry()!)) {
    <button mat-menu-item (click)="migrateToDaily()">
      <mat-icon>arrow_back_ios_new</mat-icon>
      <span>To daily log</span>
    </button>
  }
</mat-menu>
