<app-status-icon [entry]="entry()" [matMenuTriggerFor]="statusMenu"></app-status-icon>

<mat-menu #statusMenu="matMenu">
  @if (entry()?.status != EntryStatus.TaskCreated) {
    <button mat-menu-item (click)="markTaskAsCreated()">
      <mat-icon>undo</mat-icon>
      <span>Mark back as created</span>
    </button>
  } @else {
    <button mat-menu-item (click)="markTaskAsDone()">
      <mat-icon>check</mat-icon>
      <span>Mark as done</span>
    </button>
  }


  <button mat-menu-item (click)="snoozeTask()">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>Snooze to later</span>
  </button>

  @if (isWeekEntry(entry()!)) {
    <button mat-menu-item (click)="migrateToDaily()">
      <mat-icon>arrow_forward_ios</mat-icon>
      <span>To daily log</span>
    </button>
  }

  @if (isDayEntry(entry()!)) {
    <button mat-menu-item (click)="migrateToWeekly()">
      <mat-icon>arrow_back_ios_new</mat-icon>
      <span>Back to weekly log</span>
    </button>

    <button mat-menu-item (click)="migrateToMonthly()">
      <mat-icon>arrow_back_ios_new</mat-icon>
      <span>Back to monthly log</span>
    </button>
  }

  <button mat-menu-item (click)="addUpdate()">
    <mat-icon svgIcon="checkbox-intermediate-variant"></mat-icon>
    <span>Add update</span>
  </button>

  <button mat-menu-item (click)="cancelTask()">
    <mat-icon>indeterminate_check_box</mat-icon>
    <span>Cancel</span>
  </button>

  @if (isMonthEntry(entry()!)) {
    <button mat-menu-item (click)="migrateToDaily()">
      <mat-icon>arrow_back_ios_new</mat-icon>
      <span>To daily log</span>
    </button>
  }

  <button mat-menu-item (click)="deleteEntry()">
    <mat-icon>delete</mat-icon>
    <span>Delete FOREVER</span>
  </button>
</mat-menu>
