<mat-toolbar>
  <span>Task: {{ taskSummary?.taskEntry?.title }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="entryMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button (click)="closeSidebar()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>


<div class="task-edit-drawer">
  <h3>Description:</h3>

  @if (editingDescription()) {
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="updateDescriptionFormControl"></textarea>
      </mat-form-field>

      <button mat-button (click)="submitUpdateDescriptionChange($event)">Save</button>
    </form>
  } @else {
    <div [innerHTML]="taskSummary?.taskEntry?.description | markdown ">
    </div>

    <div>
      <button mat-button (click)="goToChangeDescriptionState($event)">Change description</button>
    </div>
  }

  @if (isTaskEntry(taskSummary)) {
    <h3>Today update:</h3>

    @if (editingUpdate()) {
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Update</mat-label>
          <textarea matInput [formControl]="updateFormControl"></textarea>
        </mat-form-field>

        <button mat-button (click)="submitUpdateChange($event)">Save</button>
      </form>
    } @else {
      <div>
        {{ taskSummary?.taskEntry?.taskUpdate }}
      </div>

      <div>
        <button mat-button (click)="goToChangeUpdateState($event)">Change update</button>
      </div>
    }

    <div>
      <h3>Past updates:</h3>
      @for (update of taskSummary?.updates; track $index) {
        <div>{{ update.date }} ({{ update.status }}): {{ update.update }}</div>
      }
    </div>
  }
</div>

<mat-menu #entryMenu="matMenu">
  <button mat-menu-item (click)="deleteTask(taskSummary!.taskEntry)">
    <mat-icon>delete</mat-icon>
    <span>Delete entry</span>
  </button>
</mat-menu>
