.title-bar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
}

.title {
  width: 100%;
  word-break: break-word;
}

.task-edit-drawer {
  padding: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.textarea-form {
  display: flex;
  flex-direction: column;
}

.textarea-form-buttons {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}
