@use '@angular/material' as mat;

.task-card {
  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: white;
  padding: 0.5rem 1rem;

  &.disabled {
    color: gray;
  }

  &.done {
    color: gray;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.task-menu-button {
  margin-left: auto;
}

.task-title {
  width: fit-content;
  line-height: 38px;
  padding: 0 1rem;

  &:hover {
    //background-color: var(--mat-sys-surface-bright);
    background-color: #EEEEEE;
  }
}

.task-update {
  &:hover {
    //background-color: var(--mat-sys-surface-bright);
    background-color: #EEEEEE;
  }
}

.drag-handle {
  padding-top: 8px;
  padding-bottom: 4px;
  color: var(--mdc-icon-button-icon-color, var(--mat-sys-on-surface-variant));
}

app-taskmenu {
  margin-left: auto;
}

.task-edit-drawer {
  padding: 1rem;
}

mat-drawer-container {
  height: 100%;
}

.task-list-wrapper {
  width: 1000px;
  margin: 0 auto;
  min-height: 200px; /* TO DO - delete */
}

.task-list-title {
  text-align: center;
}
