<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-task-sidebar [taskSummary]="editedTaskSummary()" (onSubmit)="reloadTaskSummary($event)" />
  </mat-drawer>

  <mat-drawer-content>
    <div class="task-list-wrapper">
      <h1 class="task-list-title">
        <button mat-flat-button (click)="changeDateBackward()">&lt;&lt;</button>
        {{ DayOfWeek(todayDate()) }}, {{ todayDate() }}
        <button mat-flat-button (click)="changeDateForward()">&gt;&gt;</button>
      </h1>

      <div>
        <button mat-button (click)="importPastTasks()" [disabled]="allSnoozed()">Import Past Tasks</button>
      </div>

      <div cdkDropList (cdkDropListDropped)="handleDrop($event)">
        @for (task of taskList(); track task.id) {
          <div [attr.data-task-id]="task.id" class="task-card" [class.disabled]="task.status === 'Snoozed'"
               [class.done]="task.status === 'Done'" cdkDrag>
            <div class="flex-row">
              <mat-icon class="drag-handle" cdkDragHandle aria-hidden="false" aria-label="Example home icon"
                        fontIcon="drag_indicator"></mat-icon>

              <mat-chip-set aria-label="Fish selection">
                <mat-chip>{{ task.status }}</mat-chip>
              </mat-chip-set>

              <div class="task-title" contenteditable="true" [textContent]="task.title || '(empty)'"
                   (blur)="submitTitleEditWithValue(task, $event)"></div>

              <button mat-button (click)="openUpdates(task)">See updates</button>

              <app-taskmenu (taskDeleted)="deleteTask(task)"
                            (taskSnoozed)="snoozeTask(task)"
                            (taskDone)="markTaskAsDone(task)"
              ></app-taskmenu>
            </div>
          </div>
        }

        @if (creatingNewTask == true) {
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>New Task</mat-label>
              <input matInput [formControl]="createTaskFormControl" />
            </mat-form-field>

            <button mat-button (click)="submitNewTask()">Save</button>
          </form>
        } @else {
          <button mat-flat-button (click)="createNewTask()">Add task</button>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
