<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-task-sidebar [taskSummary]="editedTaskSummary()"
                      (onSubmit)="reloadTaskSummary($event)"
                      (onTaskDelete)="deleteTaskFromSidebar($event)"/>
  </mat-drawer>

  <mat-drawer-content>
    <div class="task-list-wrapper">
      <h1 class="task-list-title">
        <button mat-icon-button (click)="changeDateBackward()"><mat-icon>arrow_backward</mat-icon></button>
        {{ DayOfWeek(todayDate()) }}, {{ todayDate() }}
        <button mat-icon-button (click)="changeDateForward()"><mat-icon>arrow_forward</mat-icon></button>
      </h1>

      <div>
        <button mat-button (click)="importPastTasks()">Import Past Tasks</button>
      </div>

      <div cdkDropList (cdkDropListDropped)="handleDrop($event)">
        @for (task of taskList(); track task.id) {
          <div [attr.data-task-id]="task.id" class="task-card" [class.disabled]="task.status === 'Snoozed'"
               [class.done]="task.status === 'Done'" cdkDrag>
            <div class="flex-row">
              <mat-icon class="drag-handle" cdkDragHandle aria-hidden="false" aria-label="Example home icon"
                        fontIcon="drag_indicator"></mat-icon>

              <button mat-icon-button [matMenuTriggerFor]="statusMenu">
                @switch (task.status) {
                  @case ("Created") {
                    <mat-icon>check_box_outline_blank</mat-icon>
                  }
                  @case ("Done") {
                    <mat-icon>check_box</mat-icon>
                  }
                  @case ("Snoozed") {
                    <mat-icon>arrow_forward_ios</mat-icon>
                  }
                  @case ("Cancelled") {
                    <mat-icon>indeterminate_check_box</mat-icon>
                  }
                  @default {
                    <mat-icon>remove</mat-icon>
                  }
                }
              </button>

              <mat-menu #statusMenu="matMenu">
                @if (task.status == 'Done') {
                  <button mat-menu-item (click)="markTaskAsCreated(task)">
                    <mat-icon>undo</mat-icon>
                    <span>Mark back as created</span>
                  </button>
                } @else {
                  <button mat-menu-item (click)="markTaskAsDone(task)">
                    <mat-icon>check</mat-icon>
                    <span>Mark as done</span>
                  </button>
                }

                <button mat-menu-item (click)="snoozeTask(task)">
                  <mat-icon>snooze</mat-icon>
                  <span>Snooze</span>
                </button>
              </mat-menu>

              <div class="task-title" contenteditable="true" [textContent]="task.title || '(empty)'"
                   (blur)="submitTitleEditWithValue(task, $event)"></div>

                  <button mat-icon-button (click)="openUpdates(task)" class="task-menu-button">
                    <mat-icon>more_vert</mat-icon>
                  </button>

<!--              <button mat-button (click)="openUpdates(task)">See updates</button>-->

<!--              <button mat-icon-button [matMenuTriggerFor]="menu" class="task-menu-button" aria-label="Example icon-button with a menu">-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->

<!--              <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item (click)="deleteTask(task.id)">-->
<!--                  <mat-icon>delete</mat-icon>-->
<!--                  <span>Delete</span>-->
<!--                </button>-->
<!--              </mat-menu>-->
            </div>
          </div>
        }

        @if (creatingNewTask) {
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>New Task</mat-label>
              <input matInput [formControl]="createTaskFormControl" />
            </mat-form-field>

            <button mat-button (click)="submitNewTask()">Save</button>
          </form>
        } @else {
          <button mat-flat-button (click)="createNewTask()">Add task</button>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
