<app-nav-toolbar></app-nav-toolbar>

<div class="wrapper">

  <h1 class="task-list-title">
    <button mat-icon-button (click)="dateBackward()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    {{ currentDateString() }}
    <button mat-icon-button (click)="dateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </h1>

  @for (finishedEntry of Object.entries(summary()); track $index) {
    <h3>{{ finishedEntry[0] }}</h3>

      @let entries = finishedEntry[1];
      @for (entry of entries; track entry.id) {
        <div class="list-item">
          <div>Task: {{entry.title}}</div>
          <div>Update: {{entry.taskUpdate}}</div>
          <div>Status: {{entry.status}}</div>
        </div>
      }
  }

</div>
