@use '@angular/material' as mat;

.list-item-wrapper {
  margin-bottom: 0.5rem;
  border: 2px solid #ddd;
  height: 3rem;
}

.list-item {
  background-color: white;
  width: 100%;
  align-items: center;
  cursor: pointer;

  &.disabled {
    color: #a0a0a0;
    background-color: #faf9fd;
  }

  &.done {
    color: #a0a0a0;
    background-color: #fbfcfd;
  }
}

.task-menu-button {
  margin-left: auto;
}

.task-title {
  line-height: 38px;
  padding: 0 1rem;
  width: 100%;
  overflow: hidden;

  input {
    width: 100%;
    height: 2rem;
  }
}

.form-field-full-width {
  width: 100%;
}

.task-update {
  &:hover {
    //background-color: var(--mat-sys-surface-bright);
    background-color: #EEEEEE;
  }
}

.title-wrapper {
  text-align: center;
  width: 100%;

  span {
    padding: 0 1rem;
  }
}

.list-item-wrapper:hover .drag-handle {
  display: block;
}

.drag-handle {
  padding-top: 12px;
  padding-bottom: 4px;
  color: var(--mdc-icon-button-icon-color, var(--mat-sys-on-surface-variant));
  cursor: pointer;
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.drag-wrapper {
  width: 2rem;
  min-width: 2rem;
  margin-left: -2rem;
}
