<div class="new-task-wrapper">
  @if (editorState == EditorStateEnum.EDITING_NEW_TASK) {
    <form>
      <mat-form-field class="form-field-full-width">
        <mat-label>New task title</mat-label>
        <input matInput [formControl]="newEntryFormControl"/>
      </mat-form-field>

      <button mat-button (click)="submitNewTask()">Save</button>
      <button mat-button (click)="cancelEdit()">Cancel</button>
    </form>
  }

  @if (editorState == EditorStateEnum.EDITING_NEW_NOTE) {
    <form>
      <mat-form-field class="form-field-full-width">
        <mat-label>New note</mat-label>
        <input matInput [formControl]="newEntryFormControl"/>
      </mat-form-field>

      <button mat-button (click)="submitNewNote()">Save</button>
      <button mat-button (click)="cancelEdit()">Cancel</button>
    </form>
  }

  @if (editorState == EditorStateEnum.IDLE) {
    <button mat-flat-button class="btn-mr-4" (click)="setCreatingNewTaskState()">Add task</button>
    <button mat-flat-button (click)="setCreatingNewNoteState()">Add note</button>
  }
</div>
