<app-nav-toolbar></app-nav-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-entry-sidebar [taskSummary]="editedTaskSummary()"
                      (onSubmit)="reloadTaskSummary($event)"
                      (onTaskDelete)="deleteTaskFromSidebar($event)"
                      (onCancel)="drawer.close()"/>
  </mat-drawer>

  <mat-drawer-content>
    <h1 class="title-wrapper">
      <button mat-icon-button (click)="changeDateBackward()">
        <mat-icon>arrow_backward</mat-icon>
      </button>

      <span>{{ currentDateString() }}</span>

      <button mat-icon-button (click)="changeDateForward()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </h1>

    <div>
      <button mat-button (click)="importPastTasks()">Import Past Tasks</button>
    </div>

    <mat-list cdkDropList (cdkDropListDropped)="handleDrop($event)">
      @for (entry of entryList(); track entry.id) {
        <div class="flex-row task-card-wrapper" cdkDrag>
          <div class="drag-wrapper">
            <mat-icon class="drag-handle"
                      cdkDragHandle
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="drag_indicator">
            </mat-icon>
          </div>

          <mat-list-item class="task-card"
                         [attr.data-task-id]="entry.id"
                         [class.disabled]="entry.status === 'Snoozed' || entry.status === 'Migrated'"
                         [class.done]="entry.status === 'Done'">

            <div class="flex-row">
              <app-status-button [entry]="entry"
                                 (onTaskAsCreated)="markTaskAsCreated(entry)"
                                 (onTaskDone)="markTaskAsDone(entry)"
                                 (onTaskSnoozed)="snoozeTask(entry)"
                                 (onTaskToMonthly)="migrateToMonthly(entry)">
              </app-status-button>

              <div class="task-title"
                   contenteditable="true"
                   [textContent]="entry.title || '(empty)'"
                   (blur)="submitTitleEditWithValue(entry, $event)">
              </div>

              <button mat-icon-button class="task-menu-button" (click)="openUpdates(entry)">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>

          </mat-list-item>
        </div>
      }
    </mat-list>

    <div class="new-task-wrapper">
      @if (editorState == EditorStateEnum.EDITING_NEW_TASK) {
        <form>
          <mat-form-field class="form-field-full-width">
            <mat-label>New task title</mat-label>
            <input matInput [formControl]="newEntryFormControl"/>
          </mat-form-field>

          <button mat-button (click)="submitNewTask()">Save</button>
          <button mat-button (click)="cancelEdit()">Cancel</button>
        </form>
      }

      @if (editorState == EditorStateEnum.EDITING_NEW_NOTE) {
        <form>
          <mat-form-field class="form-field-full-width">
            <mat-label>New note</mat-label>
            <input matInput [formControl]="newEntryFormControl"/>
          </mat-form-field>

          <button mat-button (click)="submitNewNote()">Save</button>
          <button mat-button (click)="cancelEdit()">Cancel</button>
        </form>
      }

      @if (editorState == EditorStateEnum.IDLE) {
        <button mat-flat-button class="btn-mr-4" (click)="setCreatingNewTaskState()">Add task</button>
        <button mat-flat-button (click)="setCreatingNewNoteState()">Add note</button>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>
