<app-nav-toolbar></app-nav-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-entry-sidebar [taskSummary]="editedTaskSummary()"
                       (onSubmit)="reloadTaskSummary($event)"
                       (onTaskDelete)="deleteTaskFromSidebar($event)"
                       (onCancel)="drawer.close()"/>
  </mat-drawer>

  <mat-drawer-content>
    <h1 class="title-wrapper">
      <button mat-icon-button (click)="changeDateBackward()">
        <mat-icon>arrow_backward</mat-icon>
      </button>

      <span>{{ currentDateString() }}</span>

      <button mat-icon-button (click)="changeDateForward()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </h1>

    <div>
      <button mat-button (click)="importPastTasks()">Import Past Tasks</button>
    </div>

    <h3>Top 3 things to finish today:</h3>

    <div class="list list-min-height"
         cdkDropList
         #priority1="cdkDropList"
         [cdkDropListConnectedTo]="[mainList]"
         (cdkDropListDropped)="handleDropToPriority($event)"
    >
      @if (entryPriority1().length == 0) {
        <div class="placeholder">Priority 1</div>
      }
      @for (entry of entryPriority1(); track $index) {
        <app-entry [entry]="entry" (onOpenUpdates)="openUpdates(entry.id)"></app-entry>
      }
    </div>

    <h3>Rest of the tasks</h3>

    <div class="list list-min-height"
         cdkDropList
         #mainList="cdkDropList"
         [cdkDropListConnectedTo]="[priority1]"
         (cdkDropListDropped)="handleDrop($event)">
      @if (nonPriority().length == 0) {
        <div class="placeholder">Move task to others</div>
        <div class="hide-on-drag">Use buttons below to add a task or a note</div>
      }
      @for (entry of nonPriority(); track entry.id) {
        <app-entry [entry]="entry" (onOpenUpdates)="openUpdates(entry.id)"></app-entry>
      }
    </div>

    <app-new-entry></app-new-entry>

  </mat-drawer-content>
</mat-drawer-container>
