@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  max-width: 1000px; /* Optional max width */
  margin: 0 auto;
  width: 100%;
}

.list {
  min-height: 2rem;
  margin-bottom: 1rem;
}

.cdk-drop-list-dragging {
  .list-drag-placeholder {
    display: none;
  }
}

.cdk-drop-list {
  .placeholder {
    display: none;
  }

  &.cdk-drop-list-receiving {
    .placeholder {
      display: flex;
    }
    .hide-on-drag {
      display: none;
    }
  }
}
