@if (!hideToolbar()) {
  <app-nav-toolbar></app-nav-toolbar>
}

<div class="container">

  <app-title-wrapper [date]="toWeeklyDate(selectedDate() || entryListService.todayDate())"></app-title-wrapper>

  <div>
    <button mat-button matBadge="!" matBadgeOverlap="false"
            [matBadgeHidden]="pendingImportsCount() === 0" (click)="importPastTasks()">Import Past Tasks</button>
  </div>

    <h3>Weekly tasks</h3>

    <div class="list"
         cdkDropList
         [cdkDropListData]="entryList()"
         (cdkDropListDropped)="handleDrop($event)">
      @if (entryList().length == 0) {
        <div class="placeholder">Move task to others</div>
        <div class="hide-on-drag">Use buttons below to add a task or a note</div>
      }
      @for (entry of entryList(); track entry.id) {
        <app-entry [entry]="entry"
                   [migrationDate]="entryListService.todayDate()"
                   (onOpenUpdatesSidebar)="openUpdates(entry.id)">
        </app-entry>
      }
    </div>

    <app-new-entry [date]="toWeeklyDate(selectedDate() || entryListService.todayDate())"></app-new-entry>

    @if (doneEntryList().length > 0) {
    <details>
      <summary>Done ({{ doneEntryList().length }})</summary>
      <div class="list">
        @for (entry of doneEntryList(); track entry.id) {
        <app-entry [entry]="entry"
                   [migrationDate]="entryListService.todayDate()"
                   (onOpenUpdatesSidebar)="openUpdates(entry.id)">
        </app-entry>
        }
      </div>
    </details>
    }

</div>
