<app-nav-toolbar></app-nav-toolbar>

<div class="container">

    <app-title-wrapper></app-title-wrapper>

    <h3>Weekly tasks</h3>

    <div class="list"
         cdkDropList
         [cdkDropListData]="entryList()"
         (cdkDropListDropped)="handleDrop($event)">
      @if (entryList().length == 0) {
        <div class="placeholder">Move task to others</div>
        <div class="hide-on-drag">Use buttons below to add a task or a note</div>
      }
      @for (entry of entryList(); track entry.id) {
        <app-entry [entry]="entry" (onOpenUpdatesSidebar)="openUpdates(entry.id)"></app-entry>
      }
    </div>

    <app-new-entry></app-new-entry>

</div>
