:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title-wrapper {
  text-align: center;
}

mat-drawer-content {
  width: 1000px;
  margin: 0 auto;
  min-height: 200px; /* TO DO - delete */
  padding: 0 2rem;
}

.fab-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.task-list {
  width: 1000px;
  margin: 0 auto;
  min-height: 200px; /* TO DO - delete */
  padding: 0 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-spacer {
  flex-grow: 1;
}

.list-title-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
}

.list-item {
  margin-bottom: 0.5rem;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  height: 3rem;
}
