<app-nav-toolbar></app-nav-toolbar>

<h1 class="title-wrapper">Recurring tasks</h1>

<button mat-fab class="fab-button" routerLink="/recurring/add">
  <mat-icon>add</mat-icon>
</button>

<div class="task-list">
    @for (recTask of recTaskList(); track $index) {
      <div class="list-item flex-row">
        <span class="list-title-wrapper">
          {{ $index }} {{ recTask.taskTitle }} - {{ recTask.freqByWeekDay }}
          <span class="flex-spacer"></span>
          <button mat-icon-button (click)="deleteRecurringTask(recTask.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    }
</div>
