<h1 class="title-wrapper">
  @if (!hideArrows) {
    <button mat-icon-button (click)="changeDateBackward()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
  }

  <span>{{ currentDateString() }}</span>

  @if (!hideArrows) {
    <button mat-icon-button (click)="changeDateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  }
</h1>

<!--<div>-->
<!--  <button mat-button matBadge="!" matBadgeOverlap="false"-->
<!--    [matBadgeHidden]="pendingImportsCount() === 0" (click)="importPastTasks()">Import Past Tasks</button>-->
<!--</div>-->
