@use '@angular/material' as mat;


.list-item {
  background-color: white;
  width: 100%;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  &.disabled {
    color: #a0a0a0;
    background-color: #faf9fd;
  }

  &.done {
    color: #a0a0a0;
    background-color: #fbfcfd;
  }
}

.task-menu-button {
  margin-left: auto;
}

.task-title {
  line-height: 38px;
  padding: 0 1rem;

  &:hover {
    //background-color: var(--mat-sys-surface-bright);
    background-color: #EEEEEE;
  }
}

.task-update {
  &:hover {
    //background-color: var(--mat-sys-surface-bright);
    background-color: #EEEEEE;
  }
}

.title-wrapper {
  text-align: center;
  width: 100%;

  span {
    padding: 0 1rem;
  }
}

.task-card-wrapper:hover .drag-handle {
  display: block;
}

.drag-handle {
  padding-top: 12px;
  padding-bottom: 4px;
  color: var(--mdc-icon-button-icon-color, var(--mat-sys-on-surface-variant));
  cursor: pointer;
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.drag-wrapper {
  width: 2rem;
  margin-left: -2rem;
}
