<button mat-icon-button>
  @switch (entry()?.status) {
    @case (EntryStatus.TaskCreated) {
      @if (entry()?.taskUpdate != "") {
        <mat-icon svgIcon="checkbox-intermediate-variant"></mat-icon>
      } @else {
        <mat-icon>check_box_outline_blank</mat-icon>
      }
    }
    @case (EntryStatus.TaskDone) {
      <mat-icon>check_box</mat-icon>
    }
    @case (EntryStatus.TaskSnoozed) {
      <mat-icon [matTooltip]="'(snoozed until ' + entry()?.taskSnoozedUntil  + ')'">arrow_forward_ios</mat-icon>
    }
    @case (EntryStatus.TaskMigrated) {
      <mat-icon [matTooltip]="'(migrated to ' + entry()?.taskSnoozedUntil  + ')'">arrow_back_ios_new</mat-icon>
    }
    @case (EntryStatus.TaskCancelled) {
      <mat-icon>indeterminate_check_box</mat-icon>
    }
    @case (EntryStatus.Note) {
      <mat-icon>remove</mat-icon>
    }
    @default {
      <mat-icon>remove</mat-icon>
    }
  }
</button>
