@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

mat-drawer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-drawer {
  --mat-sidenav-container-width: 40rem;
}

mat-drawer-content {
  width: 1000px;
  margin: 0 auto;
  min-height: 200px; /* TO DO - delete */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2rem 4rem;
}

.list {
  margin-bottom: 1rem;
  min-height: 2rem;
  //background-color: gray;
}

.cdk-drop-list {
  .show-on-drag {
    display: none;
  }
  .hide-on-drag {
    display: block;
  }

  &.cdk-drop-list-receiving {
    .show-on-drag {
      display: block;
    }
    .hide-on-drag {
      display: none;
    }
  }

  &.cdk-drop-list-dragging {
    .hide-on-drag {
      display: none;
    }
  }
}

.weekly-sidebar {
  padding: 1rem;
}
