@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

mat-drawer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-drawer {
  --mat-sidenav-container-width: 40rem;
}

mat-drawer-content {
  width: 1200px;
  margin: 0 auto;
  min-height: 200px; /* TO DO - delete */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2rem 4rem;
}

.side-by-side-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 0;
}

.list {
  margin-bottom: 1rem;
  min-height: 2rem;
  //background-color: gray;
}

.cdk-drop-list {
  .show-on-drag {
    display: none;
  }
  .hide-on-drag {
    display: block;
  }

  &.cdk-drop-list-receiving {
    .show-on-drag {
      display: block;
    }
    .hide-on-drag {
      display: none;
    }
  }

  &.cdk-drop-list-dragging {
    .hide-on-drag {
      display: none;
    }
  }
}

.weekly-sidebar {
  padding: 1rem;
}

.weekly-entry {
  border: 2px solid #ddd;
  height: 3rem;
  margin-bottom: 0.5rem;

  background-color: white;
  width: 100%;
  align-items: center;
  cursor: pointer;

  &.done {
    color: #a0a0a0;
    background-color: #fbfcfd;
  }

  .task-title {
    line-height: 38px;
    padding: 0 1rem;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .ml-8 {
    margin-left: 2rem;
  }
